parameters:
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	exceptions:
		checkedExceptionClasses:
			- 'Throwable'
		uncheckedExceptionRegexes:
			- '#^PHPUnit\\#'
			- '#^SebastianBergmann\\#'
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
	bootstrapFiles:
		- vendor/roots/wordpress-no-content/wp-includes/plugin.php
