parameters:
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- 'RuntimeException'
		uncheckedExceptionClasses:
			- 'LogicException'
		uncheckedExceptionRegexes:
			- '#^PHPUnit\\#'
		implicitThrows: false
	bootstrapFiles:
		- vendor/roots/wordpress-no-content/wp-includes/plugin.php
